@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
body {
  margin: 0;
  padding: 0;
}
.header {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(assets/bg2.png);
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  height: 100vh;
  margin-top: -150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
}
.container img {
  height: 25px;
  width: 30px;
  padding-left: 5px;
}
.container h1 {
  color: white;
  margin-left: 5px;
  font-weight: 600;
}
.ul-list a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}
#home {
  margin-right: 10px;
  padding-right: 10px;
}
.document {
  color: white;
}
.document h1 {
  font-weight: 800;
}
.document p {
  font-weight: 500;
}
#banner-button {
  margin-top: 55px;
}
#banner-button a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  background: white;
  border: 2px solid black;
  padding: 10px 40px;
  border-radius: 20px;
  font-weight: 600;
}
